* {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(229, 229, 229) 0%, rgb(206, 229, 229) 100%);
}

.todo-container {
  width: 400px;
  min-height: 500px;
  max-height: 600px;
  height: auto;
  padding: 48px 0 0 48px;

}

.task-container {
  height: 450px;
  margin-top: 10px;
  overflow-y: scroll;
}

.task-container::-webkit-scrollbar {
  width: 8px;
  background-color: #000;
}

.task-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.task-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 0px 16px 16px;
  gap: 10px;
  background: transparent;
}
.input-container input {
  width: 100%;
  background: transparent;
  outline: none;
  padding: 16px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 3px solid #000000;
  color: black;
}

.input-container button {
  padding: 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  color: #fff;
  background: black;
  text-transform: capitalize;
  
}

.single-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background: linear-gradient(90deg, rgb(44, 44, 44) 0%, rgb(0, 0, 0) 100%);
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  width: 90%; 
}

.single-task h1 {
  margin-right: 10px;
  flex-grow: 1;
  color: #000000;
}




.single-task button {
  padding: 5px 10px;
  color: #fff;
  background: black;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.single-task:nth-child(2n + 1) {
  color: black;
  background: rgb(206, 229, 229);
}

.single-task:nth-child(2n + 2) {
  color: black;
  background: rgb(229, 229, 229);
}

.single-task h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 32px 0;
}

.no-ToDo-text {
  font-size: 32px;
  color: #000000;
  margin: 32px auto 0;
  width: fit-content;
  text-align: center;
}

.popup {
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  color: #fff;
  background: linear-gradient(90deg, rgb(74, 74, 74) 0%, rgb(0, 0, 0) 100%);
  padding: 20px;
  gap: 15px;
  border-radius: 5px;
  text-align: center;
}

.buttons{
  width: fit-content;
  margin: auto;
  margin-block: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.sort-buttons button {
  padding: 10px 20px;
  background: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.buttons button {
  padding: 10px 20px;
  background: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  color: #000;
  text-align: center;
  font-size: 30px;
}